  .first_heading{
        color: #0F0A47;
        padding: 4px 15px;
        border-radius: 50px;
        background-color: lightgray;
        width: 200px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }