.home_container {
  margin-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;

  .first_section {
    display: flex;
    flex-direction: column;
    align-items: center;

    >p{
        @media (max-width: 550px) {
        text-align: center;
      }
    }

    .main_heading {
      text-align: center;
      color: black;
      font-size: 55px;
      margin-bottom: 10px;

      @media (max-width: 580px) {
        font-size: 40px;
      }
      @media (max-width: 430px) {
        font-size: 30px;
      }
      @media (max-width: 350px) {
        font-size: 27px;
      }
    }



    .search_div {
      margin-top: 20px;
      height: 50px;
      border-radius: 30px;
      width: 600px;

      @media (max-width: 610px) {
        width: 90%;
      }
    
    }

    .category_container{
      width: 80%;
      margin-top: 30px;
      height: 230px;
      // background-color: red;
    }
  }

  .span {
    color: #0f0a47 !important;
  }

  .job_div {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start !important;

    > h2 {
      @media (max-width: 380px) {
        font-size: 20px;
      }
    }

    .job_cards {
      margin-top: 40px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        justify-content: space-between;
        gap: 15px !important;
      }
    }

    @media (max-width: 560px) {
      width: 100%;
      justify-content: center !important;
      align-items: center !important;
    }
  }
}
