@import '../../theme.scss';

.global_search_container {
    width: 100%;
    background-color: $accentGray !important;
    padding: 3px 10px;
    border-radius: 5px;
    height: 100%;

    >input {
        font-size: 13px;
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    };

    >img{
        width: 25px;
    };
};