.job_container {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start !important;

    > h2 {
      @media (max-width: 380px) {
        font-size: 20px;
      }
    }

    .jobs {
      margin-top: 40px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        justify-content: space-between;
        gap: 15px !important;
      }
    }

    @media (max-width: 560px) {
      width: 100%;
      justify-content: center !important;
      align-items: center !important;
    }
  }